h1{
    text-align: center;
}
.container{
    border: 1px solid black;
    overflow: auto;
    
}
.container img{
    float: left;
    margin: 20px;
}
ul{
    background-color: black;
}
li{
    display: inline-block;  
}
li a{
    color: blanchedalmond;
    text-decoration: none;
    padding: 20px;
}
li a:hover{
    background-color: #ccc;
    color: black;
}
.login{
    float: right;
}
.login a:hover{
background-color: orangered;
color: blueviolet;
}