.img1{
    /*pode ir de zero a um*/
    opacity: 0.3;
}
.img2{
    opacity: 0.6;
}
.img3{
    opacity: 0.9;
}
button{
    background:brown;
    color: aliceblue;
    padding: 15px;
}
button:hover{
opacity: 0.5;
}
div{
   opacity: 0.5;
   background-color: blueviolet;
   padding: 30px;
   text-align: justify; 
}