h1{
    color: blueviolet;
}
h2{
    color: blueviolet;
}
@media(max-width:450px){
h1,h2{
    color: green;
}
}
@media(min-width:450px) and (max-width:1028px){
    h1,h2{
        color: rgb(0, 70, 128);
    }
}
/* orientação horizontal*/
@media(orientation:landscape){
    h1,h2{
        color: rgb(128, 0, 124);
    }
}
